@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {

background: #f9f9f9;

min-height: 100vh;

/*overflow-x: hidden;*/

}

header {

position: absolute;

top: 0;

left: 0;

width: 100%;

padding: 30px 100px;

display: flex;

justify-content: flex-start;

align-items: center;

z-index: 100;
}
.logo{
    font-size: 2em;
    color: white;
    pointer-events: none;
    margin-right: 270px;
}
.navigation a{

    text-decoration: none;
    
    color: #000000;
    
    padding: 6px 15px;
    
    border-radius: 20px;
    
    margin: 0 10px;
    
    font-weight: 600;
    
    }
    
    .navigation a:hover,
    .navigation a.active
    {

    
    background:rgb(14, 144, 136);
    
    color: #fff
    }
    .parallax {
        position: relative;
        display:flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        }
        
        #text {
            position: absolute;
            font-size:5em;
            color: #ffffff;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        
            
        }
        /*.text{
            font-size:5em ;
            color:rgb(255, 255, 255);
            font-weight:pointer;
            cursor:pointer;
            transition: transform 0.3s;
            display: block;
            margin: 50px auto;
        }
        .text:hover{
            transform: scale(1.1);
            color: #02392f;
        }
        span{
            color: aqua;
        }*/
    .parallax img{
        position:absolute;
        height: 110vh;
        background-size: cover;
        top: 0;
        left: 0;
        width: 100%;
        pointer-events:none;
    }
    .sec{
        position: relative;
        background-color:#000000;
        padding: 100px;
    
    }
    .sec h2{
        font-size: 3em;
        color: #fff;
        margin-bottom: 10px;
    }
    .sec p{
        font-size: 1em;
        color:white;
        font-weight: 300;
    }